#calculator{
    border: solid rgb(34, 34, 34) 2px;
    border-radius: 5px;
    width: 200px;
    background-color: brown;

}

#display{
    margin: 10px;
    width: 85%;
    font-size: 25px;

}
.buttom-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.buttom{
    width: 45px;
    height: 45px;
    margin: 3px;

}